<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="migrations:additem" type="SitecoreContentMigrations.Source.CMS.Sitecore.Commands.AddItemCommand, SitecoreContentMigrations" />
      <command name="migrations:addtree" type="SitecoreContentMigrations.Source.CMS.Sitecore.Commands.AddTreeCommand, SitecoreContentMigrations" />
    </commands>
  </sitecore>
</configuration>